/* App.css */
body {
  font-family: Arial, sans-serif;
  background-image: url(./fondo.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #fff;
  margin: 5px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span {
  flex-grow: 1;
}

button {
  margin-left: 10px;
  background-color: #dc3545;
}
